/* HostDetail.css */
.host-detail-cont {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 14px rgba(255, 0, 0, 0.1);
  height: 350px;
  width:100%;
  background-size: cover;
  background-position: center;
}
.host-detail-card {
  width: 100%;
  height: 100%;
  flex-direction: column-reverse;
  display: flex;
  background-color: linear-gradient(to top, black 20%, red 80%);

}


.host-detail-info {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.79);
  margin-right:20px;
  padding: 20px;
  color: white;
}



.host-detail-info h2 {
  margin-bottom: 10px;
}

.follow-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 3px solid;
  margin: 20px;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  width: 10%;
}

.follow-button:hover {
  background-color: black;
  border:1px solid red;
  color:red;
  /* Add a floating effect */
}
