.event-container {
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8; /* Light background for the container */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.events-grid {
  display: flex;
  flex-wrap: wrap;
  
}

