.profile-container {
  width: 100%;
  height: 100%;
}
.banner-card {
  width: 100%;
  height: 150px;
}
.banner-card-img-back {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
}
.banner-card-for ,.edit-pic {
  position: absolute;
  left: 45%;
  top: 20%;
  border-radius: 50%;
  overflow: hidden;
}
.edit-pic {
  position: absolute;
  left: 45%;
  top: 20%;
  background-color: none;
  border: none;
  z-index: 4;
  color: rgb(255, 255, 255);
  font-size: 1.9rem;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  padding:80px;
}
.banner-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 0.3s ease-in;
  object-fit: cover;
}

.banner-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.profile-name {
  width: 100%;
  margin-top: 150px;
  margin-left: 18px;
  font-size: 2rem;
  text-align: center;
}
.profile-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 95%;
  margin: 0px auto;
}

.detail-title {
  position: sticky;
  top: 0;
  background-color: white;
}
.choices-list {
  position: sticky;
  top: 0;
  margin: 10px;
  padding: 10px;
  list-style: none;
  box-shadow: 1px -1px 10px rgb(231, 231, 231);
  font-size: 20px;
}
.choices-list li {
  margin: 10px;
}
li.choice:hover {
  background-color: #f2f0f0;
  cursor: pointer;
}
.event-cards {
  margin-bottom: 20px;
}
.event-card-prof {
  display: flex;
  width: 100%;
  margin: 10px;
  height: 200px;
  transition: all 0.3s ease-in-out;
}
.event-card-prof:hover ,.following-box:hover {
  transform: translateY(-2%);
  box-shadow: 5px 5px 5px rgb(210, 210, 210);
  cursor: pointer;
}
.event-img {
  width: 300px;
  height: 100%;
  object-fit: cover;
}
.event-detail {
  margin-left: 10px;
  padding:5px;
}
.event-detail p {
  padding:5px;
}
.view-details {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}
.view-details:hover {
  background-color: rgb(45, 45, 45);
}
.following-hosts {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  
  
}
.following-box {
  
  text-align: center;
  font-size: 1.4rem;
  margin: 30px;
  transition: all 0.3s ease-in-out;

}
.host-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-detail {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
